body{
  background-image: linear-gradient(to right, aqua, rgb(91, 202, 91));
  margin: 0 auto;
  text-align:center;
}

/* Width and color of the scrollbar track */
textarea::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

/* Styles for the scrollbar thumb (the draggable part) */
textarea::-webkit-scrollbar-thumb {
  background-color:rgb(0, 132, 255);
  border-radius: 6px;
}

/* Styles for the scrollbar track (the non-draggable part) */
textarea::-webkit-scrollbar-track {
  background-color: transparent;
}
